@import 'variables';



html,body{
    background-color: $primary-color;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


    main{
        width: 250px;
        height: 290px;
        background-color: $second-color;
        position: relative;
        border-radius: 10px;
        box-shadow: 2px -13px 32px -1px rgba(219, 101, 65, 0.791);


        div{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%);

            p{
                background-color: #fff;
                padding: 8px 20px;
                text-align: center;
                border-radius: 8px;
            }

            .button{
                width: 40px;
                height: 26px;
                border: none;
                border-radius: 2px;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
            }

            .button:hover {
                background-color: #9ce3a0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            #equal {
                height: 60px;
            }

            
            #zero{
                width: 85px;
            }

            #point{
                margin-left: calc(100% + 5px);
            }

        }
        
    }

    footer{
        background-color: #2C2C2C;
        width: 100vw;
        position: absolute;
        bottom: -29.7px;

        p{
            color: white;
            text-align: center;
        }
    }


}
.site-header {
    background-color: #2C2C2C;
    box-shadow: 0;
    color: white;
    padding: 25px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .header-content {
        width: 100%;
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;

                li {
                    margin-left: $spacing-unit;

                    a {
                        color: $text-color;
                        text-decoration: none;
                        font-weight: bold;
                        white-space: nowrap;
                        padding: 10px;

                        &:hover {
                            color: rgba(219, 101, 65, 0.791);
                        }
                    }
                }
            }
        }
    }
}
