$primary-color: #FC8763;
$second-color:#EAE4D3;
$third-color: #FEF9FF;
$forth-color: #928686;
$header-bg-color: rgba(219, 101, 65, 0.791);
$footer-bg-color: #2C2C2C;
$header-box-shadow: 2px -13px 32px -1px rgba(219, 101, 65, 0.791);
$text-color: white;
$font-family: 'Arial', sans-serif;
$spacing-unit: 20px;